h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

#popug {
    background: aqua;
}

.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    text-shadow: 1px 1px 5px green;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: Courier New;
}

.dz {
    font-style: Italic;
    font-size: 24px;
    text-align: center;
}